{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "modules": true
    }
  },
  "rules": {
    "strict": 0,
    "semi": 2,
    "eqeqeq": 2,
    "no-var": 2,
    "no-console": 0
  },
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true,
    "jasmine": true,
    "mocha": true
  }
}
